#search
{
	
}

#menuContainer
{
	width: 735px;
	margin: auto;
}

#searchBar
{
	float:left;
	width: 550px;
	margin: auto;
	margin-bottom: 30px;
}

#searchBar i
{
	margin-right: 2px;
	float: right;
	margin-top: -35px;
	padding: 10px;
	font-size: 16px;
	color:#ccc;
}

#searchBar i:hover
{
	color:#7FB2F0;
	cursor: pointer;
}

#menuContainer .btn-group
{
	float:right;
}